<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>watch监听</title>
</head>
<body>
<div id="root">
    <input type="text" v-model="name">
    <p>{{name}}</p>
    <input type="text" v-model="address.text">
    <p>{{address.text}}</p>
</div>
<script src="libs/vue.min.js"></script>
<script>
    window.onload = function () {
        new Vue({
            el: '#root',
            data: {
                name: 'a',
                address: {
                    text: '123'
                }
            },
            methods: {
                /* 监听name方法*/
                watchName(newVal, oldVal) {
                    console.log(newVal, 'newVal')
                    console.log(oldVal, 'oldVal')
                },
                watchAddress(newVal, oldVal) {
                    console.log(newVal, 'new')
                }
            },
            watch: {
                name: 'watchName',
                // 1. 监听对象属性
                // 'address.text': 'watchAddress'
                // 2. 监听对象
                address: {

                    handler(newVal, oldVal) {
                        console.log(newVal, 'new')
                    },
                    // 启动深度监听
                    deep: true,
                }
            }
        })
    }
</script>
</body>
</html>
