.left-btn, .right-btn {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 2px solid #ccc;
  background-color: #fff;
  outline: none;
}

.left-btn {
  margin: 0 35px 0 0;
}

.right-btn {
  margin: 0 0 0 35px;
}
