/*  首页模块样式开始 */
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background: url("../img/home.jpg") no-repeat;
    background-position: center center;
    background-size: auto;
    background-attachment: fixed;
    background-color: rgba(41, 50, 39, 1);
}

/*  首页模块样式结束 */

