<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>国庆作业</title>
  <link rel="stylesheet" href="icon/iconfont.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="./libs/vue.min.js"></script>
  <!-- 封装组件 -->
  <template id="userLi">
    <li
      :class="{
                 'li-select':isstate && state,
                 'cursor-pointer': cursorstate
                 }"
      class="dis-flex flex-hc"
      @click="changeState">
       <span>
            <i class="iconfont icon-huo font-green"></i>
           {{userdata.name}}{{userdata.qq | joinSign}}
       </span>
      <slot></slot>
    </li>
  </template>
</head>
<!-- view(V层) -->
<body>
<div id="app" v-cloak class="container dis-flex flex-hc">
  <!-- 所有好友 -->
  <ul class="user-container">
    <li class="li-header">
      所有好友{{allUsersNum | joinSign}} /
      当前选中{{selectUsersNum | joinSign}}
    </li>
    <user-li
      :ref="'user'+i"
      v-for="(v,i) in allUsers"
      :key="v.id"
      :isstate="true"
      :cursorstate="true"
      @click.native="handlerSelectUsers(v)"
      :userdata="v"></user-li>
  </ul>
  <!-- 已选择好友 -->
  <ul class="user-container user-select">
    <li class="li-header">已选择联系人{{selectUsersNum | joinSign}}</li>
    <user-li
      v-for="(v,i) in selectUsers"
      :key="v.id"
      :userdata="v">
      <i class="iconfont icon-shanchu cursor-pointer" @click="removeSelect(v,i)"></i>
    </user-li>
  </ul>
</div>

<script src="js/index.js"></script>
</body>
</html>
